.contact {
  margin-bottom: 0;
  background-color: rgb(222, 228, 236);
  color: white;
}
/* img {
  height: 30rem;
  width: 100%;
} */
/* .contact-image {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.contact-image {
  width: 1rem;
}
.contact-form {
  height: 100%;
  flex: 50%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: rgb(90, 90, 90);
  font-family: Arial, Helvetica, sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 15px;
  color: rgb(0, 0, 0);
}

form button {
  margin-top: 40px;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}
.submit-button {
  height: 1.5rem;
  width: 5rem;
  border-radius: 2rem;
  /* border: none; */
  font-weight: bold;
  display: flex;
  align-items: right;
  justify-content: center;
  margin-left: 30px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.direct {
  display: flex;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.email {
  margin-left: 2rem;
  float: right;
}

@media only screen and (max-width: 768px) {
  .direct {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .email {
    margin: 0;
  }

  .contact {
    margin-bottom: 5rem;
  }
  .contact-image {
    height: 20px;
    width: 36px;
  }
  img {
    overflow-y: hidden;
  }
  .contact-form {
    height: 100%;
    flex: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
  }
}
