.me-auto .nav-items {
  margin-left: 5rem;
  text-transform: uppercase;
  color: rgb(212, 217, 228);
  font-weight: 700;
}
.nav-items:hover {
  color: white;
}
.main-nav {
  background-color: black;
}
/* .me-auto .nav-items {
  color: black;
} */
