.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* button */
/* ::-webkit-scrollbar-button {
        background: rgb(223, 8, 8);
    } */

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(216, 52, 181);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(231, 14, 104);
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
} */

/* The track NOT covered by the handle.
    ::-webkit-scrollbar-track-piece {
        background: #000;
    }
    /* Corner */
/* ::-webkit-scrollbar-corner {
  background: #999;
} */

/* Resizer */
/* ::-webkit-resizer {
        background: #111;
    } */
/*--------------------^^^^^^Custom scroll ^^^^^^^^^---------------------*/
